<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.backend.repository.AdminRepository">

    <insert id="save">
        INSERT INTO admin_tab (
            word, allow_new_key, access_keys
        ) VALUE (
            #{word}, #{allowNewKey}, #{accessKeys}
        )
    </insert>

    <delete id="delete">
        DELETE FROM admin_tab
        <where>
            id = #{adminId}
        </where>
    </delete>

    <update id="update">
        UPDATE admin_tab
        <set>
            word = #{word},
            allow_new_key = #{allowNewKey},
            access_keys = #{accessKeys}
        </set>
        <where>
            id = #{adminId}
        </where>
    </update>

    <resultMap id="admin_result" type="top.kanetah.planhv2.backend.entity.Admin">
        <id property="adminId" column="id" />
        <result property="word" column="word"/>
        <result property="allowNewKey" column="allow_new_key"/>
        <result property="accessKeys" column="access_keys"/>
    </resultMap>

    <sql id="select_admin">
        SELECT *
        FROM admin_tab
    </sql>
    <select id="findAll" resultMap="admin_result">
        <include refid="select_admin"/>
    </select>
    <select id="find" resultMap="admin_result">
        <include refid="select_admin"/>
        <where>
            id = #{adminId}
        </where>
    </select>
    <select id="findByWord" resultMap="admin_result">
        <include refid="select_admin"/>
        <where>
            word = #{word}
        </where>
    </select>

</mapper>
