<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.backend.repository.ResourceRepository">

    <insert id="save">
        INSERT INTO resource_tab (
            resource_name, resource_size, resource_url
        ) VALUE (
            #{resourceName}, #{resourceSize}, #{resourceUrl}
        )
    </insert>

    <delete id="delete">
        DELETE FROM resource_tab
        <where>
            id = #{resourceId}
        </where>
    </delete>

    <update id="update">
        UPDATE resource_tab
        <set>
            resource_name = #{resourceName},
            resource_size = #{resourceSize},
            resource_url = #{resourceUrl}
        </set>
        <where>
            id = #{resourceId}
        </where>
    </update>

    <resultMap id="resource_result" type="top.kanetah.planhv2.backend.entity.Resource">
        <id property="resourceId" column="id"/>
        <result property="resourceName" column="resource_name"/>
        <result property="resourceSize" column="resource_size"/>
        <result property="resourceUrl" column="resource_url"/>
    </resultMap>

    <sql id="find_resource">
        SELECT *
        FROM resource_tab
    </sql>
    <select id="findAllWithoutForeignKeyWithSubmission" resultMap="resource_result">
        <include refid="find_resource"/>
        LEFT JOIN
        (SELECT resource_id FROM submission_tab) AS submit
        ON resource_tab.id = submit.resource_id
        WHERE submit.resource_id IS NULL
    </select>
    <select id="find" resultMap="resource_result">
        <include refid="find_resource"/>
        <where>
            id = #{resourceId}
        </where>
    </select>
    <select id="findByNameLike" resultMap="resource_result">
        <include refid="find_resource"/>
        <where>
            resource_name LIKE "%"#{resourceName}"%"
        </where>
    </select>
    <select id="findByUrl" resultMap="resource_result">
        <include refid="find_resource"/>
        <where>
            resource_url = #{resourceUrl}
        </where>
    </select>
    <select id="findByTokenAndTaskId" resultMap="resource_result">
        <include refid="find_resource"/>
        <where>
            id = (
            SELECT resource_id FROM submission_tab
            <where>
                user_id = (SELECT user_id FROM token_tab WHERE token = #{token})
                AND
                task_id = #{taskId}
            </where>
            )
        </where>
    </select>

</mapper>
