<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.backend.repository.SubmissionRepository">

    <insert id="save">
        INSERT INTO submission_tab (
            task_id, user_id, team_id, submit_date, resource_id, former_name, save_name, size, path
        ) VALUE (
            #{taskId}, #{userId}, #{teamId}, #{submitDate},#{resourceId} , #{formerName}, #{saveName}, #{size}, #{path}
        )
    </insert>

    <delete id="delete">
        DELETE FROM submission_tab
        <where>
            id = #{id}
        </where>
    </delete>

    <update id="update">
        UPDATE submission_tab
        <set>
            task_id = #{taskId},
            user_id = #{userId},
            team_id = #{teamId},
            submit_data = #{submitDate},
            former_name = #{formerName},
            save_name = #{saveName},
            size = #{size},
            path = #{path}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <resultMap id="submission_result" type="top.kanetah.planhv2.backend.entity.Submission">
        <id property="submissionId" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="userId" column="user_id"/>
        <result property="teamId" column="team_id"/>
        <result property="submitDate" column="submit_date"/>
        <result property="fileAttributes.resourceId" column="resource_id"/>
        <result property="fileAttributes.formerName" column="former_name"/>
        <result property="fileAttributes.saveName" column="save_name"/>
        <result property="fileAttributes.size" column="size"/>
        <result property="fileAttributes.path" column="path"/>
    </resultMap>

    <sql id="find_submission">
        SELECT *
        FROM submission_tab
    </sql>
    <select id="findAllByUserId" resultMap="submission_result">
        <include refid="find_submission"/>
        <where>
            user_id = #{userId}
        </where>
    </select>
    <select id="findByTokenAndTaskId" resultMap="submission_result">
        <include refid="find_submission"/>
        <where>
            user_id = (SELECT user_id FROM token_tab WHERE token = #{token})
            AND
            task_id = #{taskId}
        </where>
    </select>
    <select id="findLastByUserId" resultMap="submission_result">
        <include refid="find_submission"/>
        <where>
            user_id = #{userId}
        </where>
        ORDER BY submit_date DESC
        LIMIT 1
    </select>
    <select id="findByUserId" resultMap="submission_result">
        <include refid="find_submission"/>
        <where>
            user_id = #{userId}
        </where>
    </select>

</mapper>
