<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.backend.repository.TeamRepository">

    <insert id="save">
        INSERT INTO team_tab (
            subject_id, team_index, team_name, member_user_id_array, leader_user_id_array
        ) VALUE (
            #{subjectId}, #{teamIndex}, #{teamName},
            #{memberUserIdArray, typeHandler = top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler},
            #{leaderUserIdArray, typeHandler = top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler}
        )
    </insert>

    <delete id="delete">
        DELETE FROM team_tab
        <where>
            id = #{id}
        </where>
    </delete>

    <update id="update">
        UPDATE team_tab
        <set>
            subject_id = #{subjectId},
            team_index = #{teamIndex},
            team_name = #{teamName},
            member_user_id_array = #{memberUserIdArray, typeHandler = top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler},
            leader_user_id_array = #{leaderUserIdArray, typeHandler = top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler}
        </set>
        <where>
            id = #{teamId}
        </where>
    </update>

    <resultMap id="team_result" type="top.kanetah.planhv2.backend.entity.Team">
        <id property="teamId" column="id"/>
        <result property="subjectId" column="subject_id"/>
        <result property="teamIndex" column="team_index"/>
        <result property="teamName" column="team_name"/>
        <result property="memberUserIdArray" column="member_user_id_array" typeHandler="top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler"/>
        <result property="leaderUserIdArray" column="leader_user_id_array" typeHandler="top.kanetah.planhv2.backend.typeHandler.IntArrayTypeHandler"/>
    </resultMap>

    <sql id="find_team">
        SELECT *
        FROM team_tab
    </sql>
    <select id="findAll" resultMap="team_result">
        <include refid="find_team"/>
    </select>
    <select id="find" resultMap="team_result">
        <include refid="find_team"/>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="findByIndex" resultMap="team_result">
        <include refid="find_team"/>
        <where>
            team_index = #{teamIndex}
        </where>
    </select>
    <select id="findAllByUserToken" resultMap="team_result">
        <include refid="find_team"/>
        <where>
            member_user_id_array LIKE CONCAT('%',
            (SELECT user_id FROM token_tab WHERE token = #{token})
            , '%')
        </where>
    </select>
    <select id="findAllIndexBySubjectId" resultType="Int">
        SELECT team_index
        FROM team_tab
        WHERE subject_id = #{subjectId}
        ORDER BY team_index
    </select>

</mapper>
