<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.backend.repository.UserRepository">

    <insert id="save">
        INSERT INTO user_tab (
            user_code, user_name, theme, enable_access_token, access_token
        ) VALUE (
            #{userCode}, #{userName}, #{theme}, #{enableAccessToken}, #{accessToken}
        )
    </insert>

    <delete id="delete">
        DELETE FROM user_tab
        <where>
            id = #{userId}
        </where>
    </delete>

    <update id="update">
        UPDATE user_tab
        <set>
            user_code = #{userCode},
            user_name = #{userName},
            theme = #{theme},
            enable_access_token = #{enableAccessToken},
            access_token = #{accessToken}
        </set>
        <where>
            id = #{userId}
        </where>
    </update>

    <resultMap id="user_result" type="top.kanetah.planhv2.backend.entity.User">
        <id property="userId" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="userConfig.theme" column="theme"/>
        <result property="userConfig.enableAccessToken" column="enable_access_token"/>
        <result property="accessToken" column="access_token"/>
    </resultMap>

    <sql id="find_user">
        SELECT *
        FROM user_tab
    </sql>
    <select id="findAll" resultMap="user_result">
        <include refid="find_user"/>
    </select>
    <select id="find" resultMap="user_result">
        <include refid="find_user"/>
        <where>
            id = #{userId}
        </where>
    </select>
    <select id="findByCode" resultMap="user_result">
        <include refid="find_user"/>
        <where>
            user_code = #{code}
        </where>
    </select>
    <select id="findByToken" resultMap="user_result">
        <include refid="find_user"/>
        <where>
            id = (SELECT user_id FROM token_tab WHERE token = #{token})
        </where>
    </select>
    <select id="count" resultType="Int">
        SELECT count(*)
        FROM user_tab
    </select>

</mapper>
