# Created by kane on 2018/1/10
.idea/
*.iws
*.iml
*.ipr
*.pfx
*.out


### Kotlin ignore ###
api/.gradle/
api/gradle/
api/build/
api/out/
*.jar


### React ignore ###

# dependencies
ui/node_modules
admin-ui/node_modules

# testing
ui/coverage
admin-ui/coverage

# production
ui/build
admin-ui/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*