<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.api.repository.AdminRepository">

    <insert id="save">
        INSERT INTO admin_tab (
            psd
        ) VALUE (
            #{password}
        )
    </insert>

    <delete id="delete">
        DELETE FROM admin_tab
        <where>
            id = #{id}
        </where>
    </delete>

    <update id="update">
        UPDATE admin_tab
        <set>
            psd = #{psd}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <sql id="select_admin">
        SELECT *
        FROM admin_tab
    </sql>
    <select id="findByPassword" resultType="top.kanetah.planhv2.api.entity.Admin">
        <include refid="select_admin"/>
        <where>
            psd = #{password}
        </where>
    </select>

</mapper>
