<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.api.repository.FormatProcessorRepository">

    <insert id="save">
        INSERT INTO format_processor_tab (
            format_processor_name, format_processor_class_name
        ) VALUE (
                #{formatProcessorName}, #{formatProcessorClassName}
        )
    </insert>

    <delete id="delete">
        DELETE FROM format_processor_tab
        <where>
            id = #{id}
        </where>
    </delete>

    <update id="update">
        UPDATE format_processor_tab
        <set>
            format_processor_name = #{formatProcessorName},
            format_processor_class_name = #{formatProcessorClassName}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <resultMap id="formatProcessor_result" type="top.kanetah.planhv2.api.entity.FormatProcessor">
        <id property="formatProcessorId" column="id"/>
        <result property="formatProcessorName" column="formatProcessor_name"/>
        <result property="formatProcessorClassName" column="format_processor_class_name"/>
    </resultMap>

    <sql id="find_format_processor">
        SELECT
            *
        FROM format_processor_tab
    </sql>
    <select id="findByName" resultMap="formatProcessor_result">
        <include refid="find_format_processor"/>
        <where>
            format_processor_name = #{formatProcessorName}
        </where>
    </select>

</mapper>
