<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.api.repository.TeamRepository">

    <insert id="save">
        INSERT INTO team_tab (
            subject_id, team_index, team_name, member_user_id_array, leader_user_id_array
        ) VALUE (
            #{subjectId}, #{teamIndex}, #{teamName},
            #{memberUserIdArray, typeHandler = top.kanetah.planhv2.api.typeHandler.IntArrayTypeHandler},
            #{leaderUserIdArray, typeHandler = top.kanetah.planhv2.api.typeHandler.IntArrayTypeHandler}
        )
    </insert>

    <!--<resultMap id="teamResultMap" type="top.kanetah.planhv2.api.entity.Team">-->
        <!--<result typeHandler="top.kanetah.planhv2.api.typeHandler.IntArrayTypeHandler"-->
                <!--column="member_user_id_array" javaType="int[]"-->
                <!--jdbcType="VARCHAR" property="memberUserIdArray"/>-->
        <!--<result typeHandler="top.kanetah.planhv2.api.typeHandler.IntArrayTypeHandler"-->
                <!--column="leader_user_id_array" javaType="int[]"-->
                <!--jdbcType="VARCHAR" property="leaderUserIdArray"/>-->
    <!--</resultMap>-->

    <sql id="find_team">
        SELECT *
        FROM team_tab
    </sql>
    <select id="findByIndex" resultType="top.kanetah.planhv2.api.entity.Team">
        <include refid="find_team"/>
        <where>
            team_index = #{teamIndex}
        </where>
    </select>
</mapper>
