<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.api.repository.TokenRepository">

    <insert id="save">
        INSERT INTO token_tab (
            user_id, token
        ) VALUE (
            #{userId}, #{token}
        )
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM token_tab
        <where>
            user_id = #{userId}
        </where>
    </delete>
    <delete id="deleteByToken">
        DELETE FROM token_tab
        <where>
            token = #{token}
        </where>
    </delete>

    <resultMap id="token_result" type="top.kanetah.planhv2.api.entity.Token">
        <id property="tokenId" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="token" column="token"/>
    </resultMap>

    <sql id="find_token">
        SELECT
            *
        FROM token_tab
    </sql>
    <select id="findByToken" resultMap="token_result">
        <include refid="find_token"/>
        <where>
            token = #{token}
        </where>
    </select>

</mapper>
