<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.kanetah.planhv2.api.repository.UserRepository">
    <sql id="select_user">
        SELECT
            *
        FROM user_tab
    </sql>
    <select id="findByCode" resultType="top.kanetah.planhv2.api.entity.User">
        <include refid="select_user"/>
        <where>
            user_code = #{code}
        </where>
    </select>
</mapper>
